APP_NAME=Vuno Trader API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true
APP_ALLOWED_ORIGINS=http://localhost:3000
APP_TRUSTED_HOSTS=localhost,127.0.0.1

SUPABASE_URL=https://mztrtovhjododrkzkehk.supabase.co
SUPABASE_ANON_KEY=sb_publishable_jf9R6rIscmZb34ATGto_dw_k3ZHeGkw
SUPABASE_SERVICE_ROLE_KEY=change_me
SUPABASE_JWT_SECRET=change_me_if_needed

NEXT_PUBLIC_SUPABASE_URL=https://mztrtovhjododrkzkehk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_jf9R6rIscmZb34ATGto_dw_k3ZHeGkw